/* General Styling */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
    background: rgb(236, 70, 84);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 5rem;
    padding: 0 1rem;
}

button {
    background-color: rgb(237, 90, 107);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    padding: 10px 10px;
    width: 100px;
}

button:hover {
    background: rgb(236, 70, 84);
}

button:active {
    transform: translateY(4px);
}

input, select {
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-right: 5px;
    outline: none;
    padding: 10px;
    width: 70%;
}

input:focus {
    outline: none;
}

select {
    width: 74%;
}


/* Zomato Search Tool Styling */
#zomato-search-tool {
    margin: 20px 20px;
}

#zomato-notice {
    color: rgb(236, 70, 84);
    font-size: 1.3rem;
    margin: 1rem 0;
}

#zomato-logo {
    height: 1.5rem;
}

.input-form {
    border: 1px solid rgb(236, 70, 84);
    border-radius: 10px;
    margin: 20px 0;
    padding: 5px;
    width: 50%;
}

#search-tool-reset {
    display: none;
}


/* Zomato API Results Styling */
/* .buttons {
    background-color: #cb202d;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
    padding: 4px;
    width: 280px;
}
.buttons:hover {
    background:#D94148;
}
.buttons:active {
    transform: translateY(4px);
} */

#cuisine-selection {
    display: none;
}

/* Restaurant Results Styling */
#search-results {
    margin-top: 30px;
    width: 50%;
}

#search-header {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

a:link, a:visited {
    color: rgb(236, 70, 84);
    text-decoration: none;
}

a:hover {
    color: rgb(237, 90, 107);
}

.venues {
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    line-height: 1.5rem;
    margin-bottom: 20px;
    padding: 15px;
}

.venueName {
    color: rgb(236, 70, 84);
    font-size: 27px;
    font-weight: bold;
}

.venueCity {
    font-weight: bold;
    padding-top: 5px;
}

.venueCost {
    color: teal;
}